# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
/build
/dist

# React
client/node_modules/
client/build/

# Server
server/node_modules/

# IDE files
.vscode/
.idea/

# Misc
*.local